*{
   margin: 0; 
   box-sizing: border-box;
}

.body {
    background-color: #f6f0e9;
}

.navbar_look {
    background-color: #01332a;
    max-width: 600px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_container {
    margin-left: 50px;
}

.logo_icon {
    width: 100px;
    height: 100px;
}

.icon_container {
margin-right: 30px;
}

.icons {
    width: 20px;
    height: 20px;
}

.quote_box {
    background-color: #b0aa68;
    height: 40px;
    width: 258px;
    border-radius: 0px 50px 50px 0px;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 40px;
    margin-bottom: 10px;
}

.quote_box p {
    font-size: x-large;
    font-weight: bolder;
    padding: 4px;
    padding-right: 20px;
    color: #01332a;
    font-family: Arial, Helvetica, sans-serif;
}

.hvolris_main_billede {
    background-color: #01332a;
    width: 315px;
    height: 200px;
    color: #F6F0E9;
    display: inline-block;
    border-radius: 15px;
    padding: 0.5em 0.5em;
    margin-left: 30px;
    margin-right: 20px;
    text-decoration: none;
    margin-top: 5px;
}

.brødtekst {
    position: absolute;
    margin-left: 40px;
    color: #01332a;
    font-size: 20px;
    align-self: center;
    font-family: serif;
    margin-top: 30px;
}

.entré {
    position: absolute;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: #01332a;
    margin-left: 420px;
    margin-top: -255px;
}

.undertekst_entré {
    position: absolute;
    color: #01332a;
    font-size: 16px;
    margin-left: 420px;
    margin-top: -225px;
    font-family: Arial, Helvetica, sans-serif;
}

.åbningstid {
    position: absolute;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: #01332a;
    margin-left: 420px;
    margin-top: -165px;

}

.undertekst_åbningstid {
    position: absolute;
    color: #01332a;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 420px;
    margin-top: -135px;
}

.adresse {
    position: absolute;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: #01332a;
    margin-left: 420px;
    margin-top: -70px;
}

.undertekst_adresse {
    position: absolute;
    color: #01332a;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 420px;
    margin-top: -40px;
}

.hvolris_telefon {
    position: absolute;
    color: #01332a;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 375px;
    margin-top: 45px;
}

.hvolris_mail {
    position: absolute;
    color: #01332a;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 375px;
    margin-top: 70px;
}

.planlæg_besøg_knap {
    background-color: #01332a;
    color: #f6f0e9;
    border-radius: 10px;
    height: 40px;
    width: 210px;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    margin-top: 260px;
    margin-left: 70px;
}
 
.planlæg_besøg_knap:hover {
    background-color: #B76E2E;
}

.baggrund_cirkel {
    position: relative;
    margin-top: -410px;
    width: 400px;
    height: 400px;
    margin-left: -100px;
    background-color: #b0aa68;
    z-index: -1;
    border-radius: 100%;
}

.google_maps_billede {
width: 200px;
height: 240px;
display: inline-block;
padding: 0.5em 0.5em;
margin-left: 350px;
margin-right: 20px;
text-decoration: none;
margin-top: -190px;
}

.baggrund_galleri {
    display: flex;
    flex-direction: row;
    background-color: #b0aa68;
    border-radius: 30px 0px 0px 30px;
    margin-left: 50px;
    flex-wrap: none;
    width: 550px;
    height: 300px;
    margin-top: 50px;
}

.jernalder_hus_billede {
    background-color: #01332a;
    width: 300px;
    height: 250px;
    color: #F6F0E9;
    display: inline-block;
    border-radius: 25px;
    padding: 0.5em 0.5em;
    margin-left: 30px;
    margin-right: 20px;
    text-decoration: none;
    margin-top: 25px; 
}

.mad_over_bål_billede {
    background-color: #01332a;
    width: 175px;
    height: 120px;
    color: #F6F0E9;
    display: inline-block;
    border-radius: 25px;
    padding: 0.5em 0.5em;
    margin-left: 5px;
    margin-right: 20px;
    text-decoration: none;
    margin-top: 25px; 
}

.jernalder_solnedgang_billede {
    background-color: #01332a;
    width: 175px;
    height: 120px;
    color: #F6F0E9;
    display: inline-block;
    border-radius: 25px;
    padding: 0.5em 0.5em;
    margin-left: -195px;
    text-decoration: none;
    margin-top: 155px; 
    position: static
}

.galleri_knap {
    background-color: #01332a;
    color: #f6f0e9;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    margin-top: -10px;
    margin-left: 300px;
}

.galleri_pil {
    width: 12px;
    height: 12px;
    margin-left: 450px;
    margin-top: -40px;
    color: #F6F0E9;
    font-size: x-large;
}
 
.galleri_knap:hover {
    background-color: #B76E2E;
}


.cirkel_logo {
aspect-ratio: 1/1;
width: 80px;
height: 80px;
margin: 30px;
margin-bottom: 50px;
object-position: center;
}

.dyreparker {
    display: flex;
    flex-direction: row;
    background-color: #01332a;
    border-radius: 30px 30px 30px 30px;
    margin-left: 15px;
    margin-right: 15px;
    flex-wrap: none;
    width: 570px;
    height: 150px;
    margin-top: 20px;
}

.dyreparker_imgbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 285px;
    overflow: hidden;
    border-radius: 30px 0px 0px 30px;
    
}

.dyreparker_img {
    width: 285px;
    height: 200px;
    object-fit: cover;
}

h3 {
    color: #f6f0e9;
    margin-top: 20px;
    margin-left: 12px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.pil {
    width: 12px;
    height: 12px;
    border-right: 3px solid #F6F0E9;
    border-top: 3px solid #F6F0E9;
    transform: rotate(45deg);
    margin-left: auto;
    margin-right: 25px;
    align-self: center;
}

.andre_oplevelser {
    text-align:center;
    color: #01332a; 
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}


.danskvand {
    display: flex;
    flex-direction: row;
    background-color: #B0AA68;
    border-radius: 30px 30px 30px 30px;
    margin-left: 15px;
    margin-right: 15px;
    flex-wrap: none;
    width: 570px;
    height: 150px;
    margin-top: 20px;
}

.danskvand_imgbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 285px;
    overflow: hidden;
    border-radius: 30px 0px 0px 30px;
    
}
.danskvand_img {
    width: 285px;
    height: 200px;
    object-fit: cover;
} 
 
.h3 {
    color: #F6F0E9;
    margin-top: 20px;
    margin-left: 12px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
} 

.pil {
    width: 12px;
    height: 12px;
    border-right: 3px solid #F6F0E9;
    border-top: 3px solid #F6F0E9;
    transform: rotate(45deg);
    margin-left: auto;
    margin-right: 25px;
    align-self: center;  }
    

.vandreture {
    display: flex;
    flex-direction: row;
    background-color: #01332a;
    border-radius: 30px 30px 30px 30px;
    margin-left: 15px;
    margin-right: 15px;
    flex-wrap: none;
    width: 570px;
    height: 150px;
    margin-top: 20px;

}

.vandreture_imgbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 285px;
    overflow: hidden;
    border-radius: 30px 0px 0px 30px;
    
}

.vandreture_img {
    width: 285px;
    height: 200px;
    object-fit: cover;
}

.h3 {
    color: #F6F0E9;
    margin-top: 20px;
    margin-left: 12px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
}


.pil {
    width: 12px;
    height: 12px;
    border-right: 3px solid #F6F0E9;
    border-top: 3px solid #F6F0E9;
    transform: rotate(45deg);
    margin-left: auto;
    margin-right: 25px;
    align-self: center;  }


.camping_cykelture {
    display: flex;
    flex-direction: row;
    background-color: #B0AA68;
    border-radius: 30px 30px 30px 30px;
    margin-left: 15px;
    margin-right: 15px;
    flex-wrap: none;
    width: 570px;
    height: 150px;
    margin-top: 20px;
}

.camping_cykelture_imgbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 285px;
    overflow: hidden;
    border-radius: 30px 0px 0px 30px;

}

.camping_cykelture_img {
    width: 285px;
    height: 200px;
    object-fit: cover;
}

.h3 {
    color: #F6F0E9;
    margin-top: 20px;
    margin-left: 12px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
}
.pil {
    width: 12px;
    height: 12px;
    border-right: 3px solid #F6F0E9;
    border-top: 3px solid #F6F0E9;
    transform: rotate(45deg);
    margin-left: auto;
    margin-right: 25px;
    align-self: center;  } 



.footer {
    background-color: #01332a;
    width: 100%;
    height: 150px;
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.footer_tekst_container p {
    color: #F6F0E9;
    margin-top: 20px;
    margin-left: 30px;
}

.some_container {
    margin: 25px;
}

.footer_Some {
    width: 60px;
    height: 60px;
}
