* {
    background-origin: padding-box;
    background-color: #f6f0e9;
}

.navbar {
    background-color: #01332a;
    width: 1000%;
    height: 80px;
    display: flex;
    align-items: center;
}

.hero_banner {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.hero_tekst {
    max-height: 400px;
    min-height: 200px; 
}

.populært_galleri {
    width: 200px;
    height: 200px;
    border-radius: 25px;
}

.mere_galleri_container {
    margin: 2em 5em;
}

.aktiviteter {
aspect-ratio: 1/1;
width: 160px;
height: 200px;
object-fit: cover;
border-radius: 15px;
padding: 0.5em;

}

.cirkel_logo {
aspect-ratio: 1/1;
width: 96px;
height: 96px;
padding: 2em;
object-position: center;

}


.footer {
    background-color: #01332a;
    width: 1000%;
    height: 100px;
    display: flex;
    align-self: center;
}