* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #f6f0e9;
    width: 600px;
}

.navbar_look {
    background-color: #01332a;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_container {
    margin-left: 50px;
}

.logo_icon {
    width: 100px;
    height: 100px;
}

.icon_container {
margin-right: 30px;
}

.icons {
    width: 20px;
    height: 20px;
}

.quote_box1 {
    background-color: #01332a;
    height: 70px;
    width: 400px;
    border-radius: 0px 50px 50px 0px;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 40px;
    margin-bottom: 10px;
}

.quote_box1 h1 {
    font-size: x-large;
    font-weight: bolder;
    padding: 4px;
    padding-right: 20px;
    margin-top: 15px;
    color: #b0aa68;
}

.omos_tekst {
    margin: 30px;
    color: #01332a;
    font-size: xx-large;
    font-weight: bold;
}

.vier_container {
    display: flex;
    flex-direction: row;
    background-color: #b0aa68;
    width: 500px;
    height: 300px;
    border-radius: 50px; 
    margin: 35px;
}

.vier_tekst {
    color: #01332a;
}

.vier_nærvær {
    width: 200px;
    height: 240px;
    border-radius: 15px;
    border: 4px solid #01332a;
}

.local_container {
    display: flex;
    flex-direction: row;
    background-color: #01332a;
    width: 500px;
    height: 300px;
    border-radius: 50px;
}

.local {
width: 200px;
height: 240px;
border-radius: 15px;
border: 4px solid #b0aa68;
}

.local_tekst {
    color: #e8dcc6;
}

.m_tekst {
    color: #01332a;
    margin: 30px;
    font-size: xx-large;
    font-weight: bold;
}

.med_1 {
display: flex;
flex-direction: row;
background-color: #b0aa68;
height: 180px;
border-radius: 50px 0px 0px 50px;
margin-left: 50px;
margin-bottom: 20px;
}

.med_2 {
display: flex;
flex-direction: row-reverse;
background-color: #01332a;
height: 180px;
border-radius: 0px 50px 50px 0px;
margin-right: 50px;
margin-bottom: 20px;
}

.med_3 {
display: flex;
flex-direction: row;
background-color: #b0aa68;
height: 180px;
border-radius: 50px 0px 0px 50px;
margin-left: 50px; 
margin-bottom: 20px;
}

.med_4 {
display: flex;
flex-direction: row-reverse;
background-color: #01332a;
height: 180px;
border-radius: 0px 50px 50px 0px;
margin-right: 50px; 
margin-bottom: 20px;
}

.medfoto_1 {
border: 4px solid #01332a;
height: 150px;
width: 150px;
border-radius: 15px;
}

.medfoto_2 {
border: 4px solid #b0aa68;
height: 150px;
width: 150px;
border-radius: 15px;
}

.cirkel_logo {
aspect-ratio: 1/1;
width: 80px;
height: 80px;
margin: 30px;
margin-bottom: 50px;
object-position: center;
}

.footer {
    background-color: #01332a;
    width: 100%;
    height: 150px;
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.footer_tekst_container p {
    color: #e8dcc6;
    margin-top: 20px;
    margin-left: 30px;
}

.some_container {
    margin: 25px;
}

.footer_Some {
    width: 60px;
    height: 60px;
}